#menu-0 A {
	color: #ffffff !important;
}
#menu-0 A {
	color: #ffffff !important;
}
#content5-8 .caption h3 {
	color: #fff !important;
}
#content5-8 .caption p {
	color: #fff !important;
}
#content5-8 P {
	text-align: center !important;
}
#menu-0 A {
	color: #ffffff !important;
}
#header3-9 H3 {
	text-align: center !important;
}
#header3-9 P {
	text-align: center !important;
}
